/* VARIABLES */
:root {
    --header-bg: #2C3E50;
    --jumbotron_about-bg: #1ABC9C;
    --footer_location-bg: #3A546D;
    --footer_copyright-bg: #2C3E50;
}

/* RESET */
img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* LAYOUT */
/* .ms_container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
} */

.ms_container_60 {
    max-width: 720px;
    width: 60%;
    margin: 0 auto;
}

section {
    position: relative;
    padding: 3.5rem 0;
}

.ms_jumbotron_title,
.ms_portfolio_title,
.ms_about_title,
.ms_contact_title {
    position: relative;
}

/* decorations */
.star::before {
    content: '';
    border: 2px solid;
    display: block;
    width: 7%;
    position: absolute;
    top: 65%;
    left: 40%;
}

.star::after {
    content: '';
    border: 2px solid;
    display: block;
    width: 7%;
    position: absolute;
    top: 65%;
    left: 53%;
}

/* HEADER */
header {
    background-color: var(--header-bg);
    height: 80px;
}

header span {
    font-size: 1.5rem;
}

.ms_hamburger {
    width: 50px;
    height: 40px;
}

ul li {
    margin-left: 1.5rem;
}

/* MAIN */
/* jumbotron */
.ms_jumbotron {
    background-color: var(--jumbotron_about-bg);
}

.ms_jumbotron img {
    width: 200px;
}

/* about */
.ms_about {
    background-color: var(--jumbotron_about-bg);
}

/* contact me */
.ms_contact form input {
    width: 100%;
}
.ms_contact .btn {
    background-color: var(--jumbotron_about-bg);
}

/* FOOTER */
footer .location {
    background-color: var(--footer_location-bg);
}

footer .copyright {
    background-color: var(--footer_copyright-bg);
}

