/* VARIABLES */
:root {
    --header-bg: #2C3E50;
    --primary-color: #1ABC9C;
    --footer_location-bg: #3A546D;
    --footer_copyright-bg: #2C3E50;
}

/* RESET */
img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Utilities */
.ms_prim-color {
    color: var(--primary-color);
}

/* Layout */
.ms_container_60 {
    max-width: 720px;
    width: 60%;
    margin: 0 auto;
}

section {
    padding: 3.5rem 0;
}

.ms_jumbotron_title,
.ms_portfolio_title,
.ms_about_title,
.ms_contact_title,
section {
    position: relative;
}

/* decorations */
.star::before {
    content: '';
    border: 2px solid;
    display: block;
    width: 7%;
    position: absolute;
    top: 65%;
    left: 40%;
}

.star::after {
    content: '';
    border: 2px solid;
    display: block;
    width: 7%;
    position: absolute;
    top: 65%;
    left: 53%;
}

/* HEADER */
header {
    background-color: var(--header-bg);
}

.navbar-toggler {
    border-color: white;
}

.nav-link {
    color: inherit;
    font-weight: bold;
}

/* MAIN */
/* jumbotron */
.ms_jumbotron {
    background-color: var(--primary-color);
}

.ms_jumbotron img {
    width: 200px;
}

/* about */
.ms_about {
    background-color: var(--primary-color);
}

/* contact me */
.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: unset;
    box-shadow: none;
}

input:focus-visible {
    outline: unset;
}

.ms_contact .btn {
    background-color: var(--primary-color);
}

/* FOOTER */
footer .location {
    background-color: var(--footer_location-bg);
}

footer .ms_brands span {
    position: relative;
    display: inline-block;
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

footer .ms_brands span i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .copyright {
    background-color: var(--footer_copyright-bg);
}

