/* VARIABLES */
:root {
    --header-bg: #2C3E50;
    --jumbotron_about-bg: #1ABC9C;
    --footer_location-bg: #3A546D;
    --footer_copyright-bg: #2C3E50;
}

/* RESET */
img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* LAYOUT */
.ms_container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.ms_container_60 {
    max-width: 1100px;
    width: 60%;
    margin: 0 auto;
}

section {
    position: relative;
    padding: 1.5rem 0;
}

.jumbotron_title,
.portfolio_title,
.about_title,
.contact_title {
    position: relative;
}

/* decorations */
.star_black::before {
    content: '';
    border: 2px solid black;
    display: block;
    width: 7%;
    position: absolute;
    top: 65%;
    left: 40%;
}

.star_black::after {
    content: '';
    border: 2px solid black;
    display: block;
    width: 7%;
    position: absolute;
    top: 65%;
    left: 53%;
}

.star_white::before {
    content: '';
    border: 2px solid white;
    display: block;
    width: 7%;
    position: absolute;
    top: 65%;
    left: 40%;
}

.star_white::after {
    content: '';
    border: 2px solid white;
    display: block;
    width: 7%;
    position: absolute;
    top: 65%;
    left: 53%;
}

/* HEADER */
header {
    background-color: var(--header-bg);
    height: 80px;
}

header span {
    font-size: 1.5rem;
}

.hamburger {
    width: 50px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
}

ul li {
    margin-left: 1.5rem;
}

/* MAIN */
/* jumbotron */
.ms_jumbotron {
    background-color: var(--jumbotron_about-bg);
}

.ms_jumbotron img {
    width: 200px;
}

/* portfolio */
.col-12 {
    /* debug */
    height: 100px;
    border: 1px solid black;
}


/* about */
.about {
    background-color: var(--jumbotron_about-bg);
}

.about .btn {
    border: 1px solid white;
}

/* contact me */
.contact form input {
    width: 100%;
}
.contact .btn {
    background-color: var(--jumbotron_about-bg);
}

/* FOOTER */
footer .location {
    background-color: var(--footer_location-bg);
}

footer .copyright {
    background-color: var(--footer_copyright-bg);
}

